<a href="https://colab.research.google.com/github/Adamya7/Basic_Python_Assignment/blob/main/Python_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PYTHON** **ASSIGNMENT** **1**

# **Q.1**

In [ ]:
#List L

L = [11,12,13,14]

print("Add 50 and 60 to L:")
L.append(50)
L.append(60)
print(L)

print("\nRemove 11 and 13:")
del L[0]
del L[1]
print(L)

print("\nAscending Order:")
L.sort()
print(L)

print("\nReverse Order:")
L.sort(reverse=True)
print(L)

print("\nSearch for 13:")
i=0
for i in range(0,4):
  if L[i]==13:
    print("13 is at %d in L" %i)
    break
else:
  print("Not Found!")

print("\nCount elements in L:")
print("%d elements in L" %len(L))

print("\nSum of elements in L:")
print("-->%d" %sum(L))

print("\nAdd ODD and EVEN numbers:")
o_sum = 0
e_sum = 0
for i in range(0,4):
  if(L[i]%2!=0):
    o_sum += L[i]
  else:
    e_sum += L[i]
print("Odd Numbers' Sum = ",o_sum)
print("Even Numbers' Sum + ",e_sum)

print("\nPrime Numbers' Sum:")
p_sum=0
for i in range(0,4):
  for j in range(2,(L[i]//2)+1):
    if L[i]%j==0:
      p_sum = 0
    else:
      p_sum+=L[i]
print("Prime Numbers' Sum = ",p_sum)

print("\nClear L:")
L.clear()
print(L)

print("\nDelete L:")
del L
print("List L deleted.")

**Q.2**

In [ ]:
D = {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}

print("\nAdd key 8:8.8 :")
D[8] = 8.8
print(D)

print("\nRemove key 2:")
del D[2]
print(D)

print("\nCheck key 6 in D or not:")
print("6 is in D: ",6 in D)

print("\nELemnts in D:")
print("Total Elements: ", len(D))

print("\nAdd values of D:")
v_sum = sum(list(D.values()))
print("Sum of values = ",v_sum)

print("\nUpdate key 3:")
D[3] = 7.1
print(D)

print("\nClear D:")
D.clear()
print(D)

**Q.3**

In [ ]:
S1 = set([10,20,30,40,50,60])
S2 = set([40,50,60,70,80,90])

print("Add 55 and 61 in S1:")
S1.add(55)
S1.add(61)
print(S1)

print("\nRemove 10 and 30 from S1:")
S1.remove(10)
S1.remove(30)
print(S1)

print("\nCheck 40 in S1 or not:")
print("40 is in S1: ", 40 in S1)

print("\nUnion of S1 and S2:")
print("Union: ", S1.union(S2))

print("\nIntersection of S1 and S2:")
print("Intersection ",S1.intersection(S2))

print("\nFind S1-S2:")
print("S1-S2 = ", S1-S2)

**Q.4**

In [ ]:
import string as s
import random as r

print("\nPrint 100 random strings:")
_str = s.ascii_letters

for i in range (0,100):
  a = "".join(r.sample(_str,6))
  print(a)

print("\nPrint Prime Numbers between 600 and 800:")
def isprime(n):
  for i in range(2,n//2+1):
    if n%i==0:
      break
    else:
      print(n)

for i in range(600,801):
  isprime(i)

print("\nNumbers divisible by 7 and 9:")
def div7(n):
  if n%7==0:
    return 1
  else:
    return 0

def div9(n):
  if n%9==0:
    return 1
  else:
    return 0

for i in range(100,1001):
  if(div7(i) and div9(i)):
    print(i)

**Q.5**

In [ ]:
import random as r

L1 = [2,3,4,5,6,7,8,9,1,0]
L2 = [2,3,4,5,6,7,8,9,1,0]

for i in range(0,10):
  L1[i]=r.randint(10,30)

for i in range(0,10):
  L2[i] = r.randint(10,30)

print(L1)
print(L2)

print("\nCommon numbers:")
l1 = set(L1)
l2 = set(L2)
common = l1.intersection(l2)
print(common)

print("\nUnique Numbers:")
unique1 = l1-l2
unique2 = l2-l1
unique = unique1.union(unique2)
print(unique)

print("\nMinimum in both lists:")
if min(L1)<min(L2):
  print(min(L1))
else:
  print(min(L2))

print("\nMaximum in both lists:")
if max(L1)>max(L2):
  print(max(L1))
else:
  print(max(L2))

print("\nSum of lists:")
print(L1+L2)
print("\nSum of List elements:")
print(sum(L1+L2))

**Q.6**

In [ ]:
import random as r

L = list(r.sample(range(100,901),100))
Leven = list(r.sample(range(100,901),100))
Lodd = list(r.sample(range(100,901),100))
Lprime = list(r.sample(range(100,901),100))

def isprime(n):
  for i in range(2,n//2+1):
    if n%i==0:
      break
    else:
      return 1

for i in range(0,100):
  if L[i]%2==0:
    Leven[i] = L[i]
  else:  
    Lodd[i] = L[i]

for i in range(0,100):
  if(isprime(L[i])):
    Lprime[i] = L[i]

print("Odd Numbers:",Lodd)
print("\nEven Numbers:",Leven)
print("\nPrime Numbers:",Lprime)

**Q.7**

In [23]:
D = {1:"One",2:"Two",3:"Three",4:"Four",5:"Five"}
keys = list(D.keys())
values = list(D.values())

for i in range(0,5):
  print(keys[i],values[i])

1 One
2 Two
3 Three
4 Four
5 Five

**Q.8**

In [33]:
L = ["One","Two","Three","Four","Five"]
f = open("result.txt",'w')

for i in range(0,5):
  f.write(L[i]+","+str(len(L[i])))

**Q.9**

In [43]:
import random as r
import string as s

f = open("string.txt","w")
letters = r.sample(s.ascii_letters,10)
letters = "".join(letters)
for i in range(0,100):
  f.write(str(letters)+"\n")

**Q.10**

In [45]:
def isprime(n):
  for i in range(2,n//2+1):
    if n%i==0:
      return 0
    else:
      return 1

f = open("prime.txt",'w')

for i in range(600,801):
  if(isprime(i)):
    f.write(str(i)+"\n")

**Q.11**

In [ ]:
import time as t

begin = t.time()
 
for i in range(5):
    print("GeeksForGeeks")
 
t.sleep(1)

end = t.time()
 
print(f"Total runtime of the program is {end - begin}")

**Q.12**

In [48]:
import random as r
import time as t

f = open("TimeTaken.txt",'w')

begin5 = t.time()
L5K = list(r.sample(range(0,5000),5000))
t.sleep(1)
end5k = t.time()
time5k = end5k - begin5

f.write("5k "+str(time5k)+"\n")
f.close()

f = open("TimeTaken.txt",'a')

begin10 = t.time()
L10K = list(r.sample(range(0,10000),10000))
t.sleep(1)
end10k = t.time()
time10k = end10k - begin10

f.write("10k "+str(time10k)+"\n")
f.close()

f = open("TimeTaken.txt",'a')

begin15 = t.time()
L15K = list(r.sample(range(0,15000),15000))
t.sleep(1)
end15k = t.time()
time15k = end15k - begin15

f.write("15k "+str(time15k)+"\n")
f.close()

f = open("TimeTaken.txt",'a')

begin20 = t.time()
L20K = list(r.sample(range(0,20000),20000))
t.sleep(1)
end20k = t.time()
time20k = end20k - begin20

f.write("20k "+str(time20k)+"\n")
f.close()

f = open("TimeTaken.txt",'a')

begin25 = t.time()
L25K = list(r.sample(range(0,25000),25000))
t.sleep(1)
end25k = t.time()
time25k = end25k - begin25

f.write("25k "+str(time25k)+"\n")
f.close()

**Q.13**

In [51]:
S0 = {'E':89,'H':90,'M':98,'SC':88,'SST':80}
S1 = {'E':99,'H':94,'M':80,'SC':98,'SST':90}
S2 = {'E':86,'H':92,'M':79,'SC':96,'SST':99}
S3 = {'E':85,'H':80,'M':68,'SC':95,'SST':79}
S4 = {'E':90,'H':70,'M':79,'SC':50,'SST':86}

avg1 = sum(S0.values())/len(S0)
avg2 = sum(S1.values())/len(S1)
avg3 = sum(S2.values())/len(S2)
avg4 = sum(S3.values())/len(S3)
avg5 = sum(S4.values())/len(S4)

Lmarks = [avg1,avg2,avg3,avg4,avg5]
print("Maximum average:",max(Lmarks))
print("\nMinimum average:",min(Lmarks))

Maximum average: 92.2

Minimum average: 75.0